In [2]:
import warnings
import numpy as np
import pandas as pd
warnings.filterwarnings("ignore")

In [5]:
df1 = pd.read_csv('../Columns/col1.txt',sep='delimiter',header=None)
df2 = pd.read_csv('../Columns/col2.txt',sep='delimiter',header=None)
df3 = pd.read_csv('../Columns/col3.txt',sep='delimiter',header=None)
df4 = pd.read_csv('../Columns/col4.txt',sep='delimiter',header=None)
df5 = pd.read_csv('../Columns/col5.txt',sep='delimiter',header=None)
df6 = pd.read_csv('../Columns/col6.txt',sep='delimiter',header=None)
df7 = pd.read_csv('../Columns/col7.txt',sep='delimiter',header=None)
df8 = pd.read_csv('../Columns/col8.txt',sep='delimiter',header=None)
df9 = pd.read_csv('../Columns/col9.txt',sep='delimiter',header=None)
df10 = pd.read_csv('../Columns/col10.txt',sep='delimiter',header=None)
df11 = pd.read_csv('../Columns/col11.txt',sep='delimiter',header=None)
df12 = pd.read_csv('../Columns/col12.txt',sep='delimiter',header=None)
df13 = pd.read_csv('../Columns/col13.txt',sep='delimiter',header=None)
df14 = pd.read_csv('../Columns/col14.txt',sep='delimiter',header=None)
df15 = pd.read_csv('../Columns/col15.txt',sep='delimiter',header=None)
df16 = pd.read_csv('../Columns/col16.txt',sep='delimiter',header=None)
df17 = pd.read_csv('../Columns/col17.txt',sep='delimiter',header=None)
df18 = pd.read_csv('../Columns/col18.txt',sep='delimiter',header=None)
df19 = pd.read_csv('../Columns/col19.txt',sep='delimiter',header=None)
df20 = pd.read_csv('../Columns/col20.txt',sep='delimiter',header=None)
df21 = pd.read_csv('../Columns/col21.txt',sep='delimiter',header=None)
df22 = pd.read_csv('../Columns/col22.txt',sep='delimiter',header=None)
df23 = pd.read_csv('../Columns/col23.txt',sep='delimiter',header=None)
df24 = pd.read_csv('../Columns/col24.txt',sep='delimiter',header=None)
df25 = pd.read_csv('../Columns/col25.txt',sep='delimiter',header=None)

In [4]:
df1.columns = ["Column1"]
df2.columns = ["Column2"]
df3.columns = ["Column3"]
df4.columns = ["Column4"]
df5.columns = ["Column5"]
df6.columns = ["Column6"]
df7.columns = ["Column7"]
df8.columns = ["Column8"]
df9.columns = ["Column9"]
df10.columns = ["Column10"]
df11.columns = ["Column11"]
df12.columns = ["Column12"]
df13.columns = ["Column13"]
df14.columns = ["Column14"]
df15.columns = ["Column15"]
df16.columns = ["Column16"]
df17.columns = ["Column17"]
df18.columns = ["Column18"]
df19.columns = ["Column19"]
df20.columns = ["Column20"]
df21.columns = ["Column21"]
df22.columns = ["Column22"]
df23.columns = ["Column23"]
df24.columns = ["Column24"]
df25.columns = ["Column25"]

NameError: name 'df1' is not defined

In [10]:
frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25]

In [11]:
df = pd.concat(frames,axis=1)

In [13]:
df.head(5)

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column16,Column17,Column18,Column19,Column20,Column21,Column22,Column23,Column24,Column25
0,s,3.000000,_15_,AGT,---,0,tcp,40,[0,0,...,32,0],[0,0],0,0,0],[15,4]],(REQUEST)
1,r,3.000000,_15_,RTR,---,0,tcp,40,[0,0,...,32,0],[0,0],0,0,0],[15,4]],(REQUEST)
2,s,3.000000,_15_,RTR,---,0,AODV,48,[0,0,...,30,0],[0x2,1,1,[34,0],[15,4]],(REQUEST)
3,s,3.000395,_15_,MAC,---,0,AODV,106,[0,ffffffff,...,30,0],[0x2,1,1,[34,0],[15,4]],(REQUEST)
4,r,3.000915,_41_,MAC,---,0,AODV,48,[0,ffffffff,...,30,0],[0x2,1,1,[34,0],[15,4]],(REQUEST)

In [1]:
df['Column1'] = 'Event type'

NameError: name 'df' is not defined