In [25]:
import warnings
import numpy as np
import pandas as pd
warnings.filterwarnings("ignore")

In [26]:
df =  pd.read_csv('IP_Address_modified.csv')

In [27]:
df.head()

   Source_IP  Dest_IP  Node
0         15       34    15
1         15       34    15
2         15       -1    15
3         15       -1    15
4         15       -1    41

In [28]:
df[df["Source_IP"] == 0]

        Source_IP  Dest_IP  Node
1024            0       -1     0
1025            0       -1     0
1028            0       -1    32
1029            0       -1    10
1030            0       -1    24
1031            0       -1     6
1032            0       -1     1
1033            0       -1    11
1034            0       -1    31
1035            0       -1    12
1036            0       -1     5
1037            0       -1     7
1038            0       -1    32
1039            0       -1    10
1040            0       -1    24
1041            0       -1     6
1042            0       -1     1
1043            0       -1    11
1044            0       -1    31
1045            0       -1    12
1046            0       -1     5
1047            0       -1     7
3217            0        1     0
3218            0        1     0
3219            0       -1     0
3891            0       -1     0
3892            0       -1    32
3893            0       -1    10
3894            0       -1     6
3895            0       -1    24
...           ...      ...   ...
513756          0        1     0
513760          0        1     0
513761          0        1     0
513762          0        1     0
513763          0        1     0
513764          0        1    43
513765          0        1    43
513766          0        1    43
513767          0        1     0
513768          0        1    43
513769          0        1    43
513770          0        1    43
513771          0        1    43
513772          0        1     7
513773          0        1     7
513774          0        1     7
513775          0        1    43
513776          0        1     0
513777          0        1     0
513778          0        1     0
513779          0        1     7
513781          0        1     7
513784          0        1     7
513786          0        1     7
513787          0        1     7
513788          0        1     7
513789          0        1     7
513791          0        1     7
513794          0        1     7
513795          0        1     7

[95739 rows x 3 columns]

In [29]:
df1 = pd.DataFrame(df)
df1['dos'] = 0
df1.loc[df1['Source_IP']==0,'dos'] = 1

In [30]:
df2 = pd.DataFrame(df1.groupby('Node')['dos'].mean())

In [31]:
df2 = df2.ix[1:,:]

In [32]:
df2.columns = ["Probability"]

In [33]:
df2.to_csv('Proba.csv')

In [34]:
df2.tail

<bound method DataFrame.tail of       Probability
Node
1        0.319698
2        0.023945
3        0.032219
4        0.057649
5        0.027551
6        0.025253
7        0.468814
8        0.000000
9        0.034029
10       0.003657
11       0.020408
12       0.004957
13       0.059163
14       0.065426
15       0.000896
16       0.067016
17       0.023945
18       0.026091
19       0.000000
20       0.262508
21       0.036401
22       0.000000
23       0.000000
24       0.004137
25       0.026667
26       0.000000
27       0.057209
28       0.000000
29       0.001732
30       0.007219
31       0.029813
32       0.003906
33       0.000000
34       0.001746
35       0.003313
36       0.013723
37       0.023864
38       0.015668
39       0.197777
40       0.000000
41       0.014683
42       0.000000
43       0.468268
44       0.029412
45       0.063568
46       0.000000
47       0.000000
48       0.024842
49       0.033517>